[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
aiohttp = "*"
oauth2client = "*"

[dev-packages]

[requires]
python_version = "3.11"
